In [1]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [3]:
# Read the CSV files into DataFrames.
df = pd.read_csv(r"C:\Users\mikea\OneDrive\Desktop\Dataclass2\Athletic_sales_analysis\athletic_sales_2020.csv")
df = pd.read_csv(r"C:\Users\mikea\OneDrive\Desktop\Dataclass2\Athletic_sales_analysis\athletic_sales_2021.csv")

In [5]:
# Display the 2020 sales DataFrame
df.describe()

,retailer_id,price_per_unit,units_sold,total_sales,operating_profit
count,8.346000e+03,8346.000000,8346.000000,8346.000000,8346.000000
mean,1.175691e+06,44.372154,241.614186,86007.842080,32202.144605
std,2.512834e+04,14.631328,198.512997,131330.187492,50863.758202
min,1.128299e+06,7.000000,0.000000,0.000000,0.000000
25%,1.185732e+06,35.000000,101.000000,3904.500000,1774.927500
50%,1.185732e+06,45.000000,173.000000,8620.000000,4019.040000
75%,1.185732e+06,54.000000,325.000000,136875.000000,48125.000000
max,1.197831e+06,110.000000,1150.000000,825000.000000,371250.000000

In [4]:
# Display the 2021 sales DataFrame

#### Check the data types of each DataFrame

In [5]:
# Check the 2020 sales data types.

In [6]:
# Check the 2021 sales data types.

#### Combine the sales data by rows.

In [7]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.

In [8]:
# Check if any values are null.

In [9]:
# Check the data type of each column

In [10]:
# Convert the "invoice_date" to a datetime datatype

In [11]:
# Confirm that the "invoice_date" data type has been changed.

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [12]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".




# Show the top 5 results.

#### Using `pivot_table`

In [13]:
# Show the number products sold for region, state, and city.


# Rename the "units_sold" column to "Total_Products_Sold"


# Show the top 5 results.

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [14]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

#### Using `pivot_table`

In [15]:
# Show the total sales for the products sold for each region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [16]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Show the top 5 results.

#### Using `pivot_table`

In [17]:
# Show the total sales for the products sold for each retailer, region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [18]:
# Filter the sales data to get the women's athletic footwear sales data.

#### Using `groupby`

In [19]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

#### Using `pivot_table`

In [20]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [21]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [22]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [23]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in ascending order on "Total Sales".