In [6]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [ ]:
###Hints and Considerations
###Consider what you've learned so far. You’ve learned how to combine data using concatenation, joins, and merging, 
# and how to reshape data using groupby, pivot, pivot_table, resample, and melt functions.
###If you're struggling with how to start, look back on some of the activities you did in class.
###Always commit your work and back it up with pushes to GitHub or GitLab. You don't want to lose hours of your hard work! 
# Also make sure that your repo has a detailed README.md file.

In [ ]:
'''
#Combine and Clean the Data (15 points)
#The two DataFrames have been combined on the rows using an inner join and the index has been reset. (10 points)
#The "invoice_date" column has been converted to a datetime data type. (5 points)
'''

In [ ]:
'''HINT: Read over the instructions to determine if you should use concat, join, or merge.'''

In [11]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv(r"C:\Users\mikea\OneDrive\Desktop\Dataclass2\Athletic_sales_analysis\athletic_sales_2020.csv")
df_2021 = pd.read_csv(r"C:\Users\mikea\OneDrive\Desktop\Dataclass2\Athletic_sales_analysis\athletic_sales_2020.csv")

In [12]:
# Display the 2020 sales DataFrame
df_2020

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
1292,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,72,203,14616,3946.32,Online
1293,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,80,700,560000,84000.00,Outlet
1294,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,41,119,4879,2878.61,Online
1295,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,45,475,213750,96187.50,Outlet
1296,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,62,245,15190,2886.10,Outlet

In [13]:
# Display the 2021 sales DataFrame
df_2021

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
1292,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,72,203,14616,3946.32,Online
1293,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,80,700,560000,84000.00,Outlet
1294,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,41,119,4879,2878.61,Online
1295,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,45,475,213750,96187.50,Outlet
1296,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,62,245,15190,2886.10,Outlet

#### Check the data types of each DataFrame

In [15]:
# Check the 2020 sales data types.
df_2020.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [16]:
# Check the 2021 sales data types.
df_2021.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [7]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.

In [8]:
# Check if any values are null.

In [9]:
# Check the data type of each column

In [10]:
# Convert the "invoice_date" to a datetime datatype

In [11]:
# Confirm that the "invoice_date" data type has been changed.

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [ ]:
'''#A groupby or pivot_table function has been used to create a multi-index DataFrame with the "region", "state", and "city" columns. (10 points)
#The aggregated column has been renamed to reflect the aggregation of the data in the column. (1 point)
#The results are sorted in ascending order to show the top five regions, including the state and city that sold the most products. (4 points)
'''

In [12]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".




# Show the top 5 results.

#### Using `pivot_table`

In [13]:
# Show the number products sold for region, state, and city.


# Rename the "units_sold" column to "Total_Products_Sold"


# Show the top 5 results.

### 3. Determine which Region had the Most Sales

In [ ]:
''''A groupby or pivot_table function has been used to create a multi-index DataFrame with the "region", "state", and "city" columns. (10 points)

The aggregated column has been renamed to reflect the aggregation of the data in the column. (1 point)

The results are sorted in ascending order to show the top five regions, including the state and city that generated the most sales. (4 points)'''

#### Using `groupby`

In [14]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

#### Using `pivot_table`

In [15]:
# Show the total sales for the products sold for each region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
'''A groupby or pivot_table function has been used to create a multi-index DataFrame with the "retailer", "region", "state", and "city" columns. (10 points)

The aggregated column has been renamed to reflect the aggregation of the data in the column. (1 point)

The results are sorted in ascending order to show the top five retailers along with their region, state, and city that generated the most sales. (4 points)'''

In [16]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Show the top 5 results.

#### Using `pivot_table`

In [17]:
# Show the total sales for the products sold for each retailer, region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [ ]:
'''A filtered DataFrame is created that shows only women's athletic footwear sales data. (8 points)

A groupby or pivot_table function has been used to create a multi-index DataFrame with the "retailer", "region", "state", and "city" columns. (7 points)

The aggregated column has been renamed to reflect the aggregation of the data in the column. (1 point)

The results are sorted in ascending order to show the top five retailers along with their region, state, and city that had the most women's athletic footwear sales. (4 points)'''

In [ ]:
'''Use df[df["column_name"].str.contains("<value>")] or df.loc[(df["column_name"] =="<value>")].'''

In [18]:
# Filter the sales data to get the women's athletic footwear sales data.

#### Using `groupby`

In [19]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

#### Using `pivot_table`

In [20]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
'''A pivot table is created that has the "invoice_date" column as the index and the "total_sales" column assigned to the values parameter. (10 points)

The aggregated column has been renamed to reflect the aggregation of the data in the column. (1 point)

The resample function is used on the pivot table, the data is placed into daily bins, and the total sales for each day is calculated. (2 points)

The results are sorted in ascending order to show the days that generated the most women's athletic footwear sales. (2 points)'''

In [21]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [22]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
'''The resample function is used on the pivot table, the data is placed into weekly bins, and the total sales for each week is calculated. (3 points)

The results are sorted in ascending order to show the weeks that generated the most women's athletic footwear sales. (2 points)'''

In [23]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in ascending order on "Total Sales".