In [6]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [ ]:
###Hints and Considerations
###Consider what you've learned so far. You’ve learned how to combine data using concatenation, joins, and merging, 
# and how to reshape data using groupby, pivot, pivot_table, resample, and melt functions.
###If you're struggling with how to start, look back on some of the activities you did in class.
###Always commit your work and back it up with pushes to GitHub or GitLab. You don't want to lose hours of your hard work! 
# Also make sure that your repo has a detailed README.md file.

In [ ]:
'''
#Combine and Clean the Data (15 points)
#The two DataFrames have been combined on the rows using an inner join and the index has been reset. (10 points)
#The "invoice_date" column has been converted to a datetime data type. (5 points)
'''

In [ ]:
'''HINT: Read over the instructions to determine if you should use concat, join, or merge.'''

In [19]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv(r"C:\Users\mikea\OneDrive\Desktop\Dataclass2\Athletic_sales_analysis\athletic_sales_2020.csv")
df_2021 = pd.read_csv(r"C:\Users\mikea\OneDrive\Desktop\Dataclass2\Athletic_sales_analysis\athletic_sales_2021.csv")

In [20]:
# Display the 2020 sales DataFrame
df_2020

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
1292,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,72,203,14616,3946.32,Online
1293,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,80,700,560000,84000.00,Outlet
1294,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,41,119,4879,2878.61,Online
1295,Kohl's,1189833,12/30/20,Midwest,Minnesota,Minneapolis,Women's Street Footwear,45,475,213750,96187.50,Outlet
1296,West Gear,1128299,12/30/20,West,California,San Francisco,Women's Apparel,62,245,15190,2886.10,Outlet

In [21]:
df_2020.head(15)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
5,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,47,336,15792,9633.12,Online
6,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,35,450,157500,63000.00,Outlet
7,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,27,158,4266,1791.72,Outlet
8,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,47,260,12220,5132.40,Online
9,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,32,122,3904,1991.04,Online
10,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,36,320,11520,4032.00,Outlet
11,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000.00,In-store
12,West Gear,1128299,1/3/20,Northeast,Pennsylvania,Philadelphia,Men's Athletic Footwear,44,117,5148,1904.76,Online
13,West Gear,1128299,1/3/20,Northeast,Pennsylvania,Philadelphia,Men's Athletic Footwear,35,135,4725,1464.75,Outlet
14,Foot Locker,1185732,1/3/20,Northeast,New York,New York,Women's Street Footwear,32,350,11200,4144.00,Outlet

In [22]:
# Display the 2021 sales DataFrame
df_2021

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online
...,...,...,...,...,...,...,...,...,...,...,...,...
8341,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,Online
8342,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,Outlet
8343,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,Online
8344,Amazon,1185732,12/31/21,Northeast,Maine,Portland,Men's Apparel,55,125,68750,17187.50,Outlet
8345,Foot Locker,1185732,12/31/21,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875.00,Outlet

In [23]:
df_2021.head(15)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online
5,Kohl's,1189833,1/2/21,Midwest,Montana,Billings,Women's Apparel,45,475,213750,53437.50,Outlet
6,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,60,218,13080,6670.80,Online
7,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,46,225,10350,4554.00,Outlet
8,West Gear,1128299,1/2/21,West,California,San Francisco,Women's Street Footwear,65,750,487500,195000.00,Outlet
9,Kohl's,1189833,1/2/21,Midwest,Montana,Billings,Women's Apparel,43,138,5934,2314.26,Online
10,West Gear,1185732,1/3/21,Midwest,Iowa,Des Moines,Women's Street Footwear,20,250,50000,15000.00,In-store
11,West Gear,1185732,1/3/21,Midwest,Iowa,Des Moines,Men's Athletic Footwear,30,250,75000,26250.00,In-store
12,West Gear,1185732,1/3/21,Midwest,Iowa,Des Moines,Men's Street Footwear,30,450,135000,40500.00,In-store
13,West Gear,1128299,1/3/21,West,California,San Francisco,Women's Athletic Footwear,56,182,10192,4586.40,Online
14,West Gear,1185732,1/3/21,Midwest,Iowa,Des Moines,Men's Apparel,40,150,60000,30000.00,In-store

#### Check the data types of each DataFrame

In [24]:
# Check the 2020 sales data types.
df_2020.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [25]:
# Check the 2021 sales data types.
df_2021.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [ ]:
#note 
# Use .merge() for combining DataFrames based on specific column values.
#Use .concat() for stacking DataFrames along a particular axis (rows=0 or columns=1), ignore_index=?
#Use .join() for combining DataFrames based on their indexes.

In [27]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
#
combo_df = pd.concat([df_2020, df_2021], axis=0, ignore_index=True)

combo_df.head(15)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
5,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,47,336,15792,9633.12,Online
6,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,35,450,157500,63000.00,Outlet
7,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,27,158,4266,1791.72,Outlet
8,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,47,260,12220,5132.40,Online
9,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,32,122,3904,1991.04,Online
10,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,36,320,11520,4032.00,Outlet
11,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000.00,In-store
12,West Gear,1128299,1/3/20,Northeast,Pennsylvania,Philadelphia,Men's Athletic Footwear,44,117,5148,1904.76,Online
13,West Gear,1128299,1/3/20,Northeast,Pennsylvania,Philadelphia,Men's Athletic Footwear,35,135,4725,1464.75,Outlet
14,Foot Locker,1185732,1/3/20,Northeast,New York,New York,Women's Street Footwear,32,350,11200,4144.00,Outlet

In [29]:
# Check if any values are null. (.isnull)
null_v = combo_df.isnull()
null_v

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9638,False,False,False,False,False,False,False,False,False,False,False,False
9639,False,False,False,False,False,False,False,False,False,False,False,False
9640,False,False,False,False,False,False,False,False,False,False,False,False
9641,False,False,False,False,False,False,False,False,False,False,False,False
9642,False,False,False,False,False,False,False,False,False,False,False,False

In [30]:
# Check the data type of each column
combo_df.columns

Index(['retailer', 'retailer_id', 'invoice_date', 'region', 'state', 'city',
       'product', 'price_per_unit', 'units_sold', 'total_sales',
       'operating_profit', 'sales_method'],
      dtype='object')

In [49]:
# Convert the "invoice_date" to a datetime datatype (.astype() or pd.to_datetime())
combo_df['invoice_date'] =pd.to_datetime(combo_df['invoice_date'], format='mixed')
invoice_date_dtype = combo_df['invoice_date'].dtype
invoice_date_dtype

dtype('<M8[ns]')

In [51]:
# Confirm that the "invoice_date" data type has been changed.
invoice_date_dtype = combo_df['invoice_date'].dtype
invoice_date_dtype

dtype('<M8[ns]')

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [ ]:
'''#A groupby or pivot_table function has been used to create a multi-index DataFrame with the "region", "state", and "city" columns. (10 points)
#The aggregated column has been renamed to reflect the aggregation of the data in the column. (1 point)
#The results are sorted in ascending order to show the top five regions, including the state and city that sold the most products. (4 points)
'''

In [52]:
combo_df.columns

Index(['retailer', 'retailer_id', 'invoice_date', 'region', 'state', 'city',
       'product', 'price_per_unit', 'units_sold', 'total_sales',
       'operating_profit', 'sales_method', 'invoce_date'],
      dtype='object')

In [56]:
# Show the number products sold for region, state, and city. (groupby, sum, resetindex)(sort by highest sales)
group_df = combo_df.groupby(['region', 'state', 'city']).sum('units_sold').reset_index()

# Rename the sum to "Total_Products_Sold".
group_df.rename(columns={"units_sold": "Total_Products_Sold"}, inplace=True)

# (sort&) Show the top 5 results.
sort_combo_df= combo_df.sort_values(by='units_sold', ascending=False)
group_df.head(5)

,region,state,city,retailer_id,price_per_unit,Total_Products_Sold,total_sales,operating_profit
0,Midwest,Illinois,Chicago,170842200,6875,25407,9797488,3920368.61
1,Midwest,Indiana,Indianapolis,170745408,5595,26332,8836198,3379256.00
2,Midwest,Iowa,Des Moines,170745408,5244,23446,7424011,2655217.37
3,Midwest,Kansas,Wichita,172269882,5514,29463,9972864,3510147.29
4,Midwest,Michigan,Detroit,170745408,6252,50095,18625433,8135894.02

#### Using `pivot_table`

In [58]:
combo_df.columns

Index(['retailer', 'retailer_id', 'invoice_date', 'region', 'state', 'city',
       'product', 'price_per_unit', 'units_sold', 'total_sales',
       'operating_profit', 'sales_method', 'invoce_date'],
      dtype='object')

In [62]:
# Show the number products sold for region, state, and city.
rows = ['region', 'state', 'city']
columns = None
values = 'units_sold'
pivot_df = combo_df.pivot_table(values=values, index=rows, columns=columns, aggfunc='sum')
pivot_df.reset_index(inplace=True)
# Rename the "units_sold" column to "Total_Products_Sold"
pivot_df.rename(columns={"units_sold": "Total_Products_Sold"}, inplace=True)

# Show the top 5 results.
sort_pivot_df= pivot_df.sort_values(by='Total_Products_Sold', ascending=False)
sort_pivot_df.head(5)

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

### 3. Determine which Region had the Most Sales

In [ ]:
''''A groupby or pivot_table function has been used to create a multi-index DataFrame with the "region", "state", and "city" columns. (10 points)

The aggregated column has been renamed to reflect the aggregation of the data in the column. (1 point)

The results are sorted in ascending order to show the top five regions, including the state and city that generated the most sales. (4 points)'''

In [57]:
combo_df.columns

Index(['retailer', 'retailer_id', 'invoice_date', 'region', 'state', 'city',
       'product', 'price_per_unit', 'units_sold', 'total_sales',
       'operating_profit', 'sales_method', 'invoce_date'],
      dtype='object')

#### Using `groupby`

In [64]:
# Show the total sales for the products sold for each region, state, and city.
ts_df = combo_df.groupby(['region', 'state', 'city']).sum('total_sales').reset_index()

# Rename the "total_sales" column to "Total Sales"
ts_df.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the top 5 results.
sort_ts_df= combo_df.sort_values(by='total_sales', ascending=False)
sort_ts_df.head(5)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method,invoce_date
5194,Walmart,1128299,2021-06-17,Southeast,Florida,Orlando,Women's Apparel,110,750,825000,371250.0,In-store,2021-06-17
5174,West Gear,1128299,2021-06-17,South,Louisiana,New Orleans,Women's Apparel,110,750,825000,288750.0,Online,2021-06-17
5864,Walmart,1128299,2021-07-16,Southeast,Florida,Orlando,Men's Street Footwear,90,900,810000,243000.0,In-store,2021-07-16
5874,West Gear,1128299,2021-07-16,South,Louisiana,New Orleans,Men's Street Footwear,90,900,810000,324000.0,Online,2021-07-16
6542,West Gear,1128299,2021-08-17,South,Louisiana,New Orleans,Men's Street Footwear,95,850,807500,323000.0,Online,2021-08-17

#### Using `pivot_table`

In [74]:
rows = ['region', 'state', 'city']
columns = None
values = 'units_sold'
pivot_df = combo_df.pivot_table(values=values, index=rows, columns=columns, aggfunc='sum')
pivot_df.reset_index(inplace=True)
# Rename the "units_sold" column to "Total_Products_Sold"
pivot_df.rename(columns={"units_sold": "Total_Products_Sold"}, inplace=True)

# Show the top 5 results.
sort_pivot_df= pivot_df.sort_values(by='Total_Products_Sold', ascending=False)
sort_pivot_df.head(5)

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

In [76]:
# Show the total sales for the products sold for each region, state, and city.
rows = ['region', 'state', 'city']
columns= None
values= 'total_sales'
ts_pivot_df = combo_df.pivot_table(values=values, index=rows, columns=columns, aggfunc='sum')
ts_pivot_df.reset_index(inplace=True)


# Optional: Rename the "total_sales" column to "Total Sales"
ts_pivot_df.rename(columns={'total_sales': 'Total Sales'}, inplace=True)
sort_ts_pivot_df= pivot_df.sort_values(by='Total Sales', ascending=False)
# Show the top 5 results.

ts_pivot_df.head(5)

KeyError: 'Total Sales'

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
'''A groupby or pivot_table function has been used to create a multi-index DataFrame with the "retailer", "region", "state", and "city" columns. (10 points)

The aggregated column has been renamed to reflect the aggregation of the data in the column. (1 point)

The results are sorted in ascending order to show the top five retailers along with their region, state, and city that generated the most sales. (4 points)'''

In [16]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Show the top 5 results.

#### Using `pivot_table`

In [17]:
# Show the total sales for the products sold for each retailer, region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [ ]:
'''A filtered DataFrame is created that shows only women's athletic footwear sales data. (8 points)

A groupby or pivot_table function has been used to create a multi-index DataFrame with the "retailer", "region", "state", and "city" columns. (7 points)

The aggregated column has been renamed to reflect the aggregation of the data in the column. (1 point)

The results are sorted in ascending order to show the top five retailers along with their region, state, and city that had the most women's athletic footwear sales. (4 points)'''

In [ ]:
'''Use df[df["column_name"].str.contains("<value>")] or df.loc[(df["column_name"] =="<value>")].'''

In [18]:
# Filter the sales data to get the women's athletic footwear sales data.

#### Using `groupby`

In [19]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

#### Using `pivot_table`

In [20]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
'''A pivot table is created that has the "invoice_date" column as the index and the "total_sales" column assigned to the values parameter. (10 points)

The aggregated column has been renamed to reflect the aggregation of the data in the column. (1 point)

The resample function is used on the pivot table, the data is placed into daily bins, and the total sales for each day is calculated. (2 points)

The results are sorted in ascending order to show the days that generated the most women's athletic footwear sales. (2 points)'''

In [21]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [22]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
'''The resample function is used on the pivot table, the data is placed into weekly bins, and the total sales for each week is calculated. (3 points)

The results are sorted in ascending order to show the weeks that generated the most women's athletic footwear sales. (2 points)'''

In [23]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in ascending order on "Total Sales".